@using ContractManagementSystem.Models
@model Contract
@{
    ViewData["Title"] = "Contract Creation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .scrollbar {
            overflow-y: scroll;
            height: 200px;
        }

        body {
            background-color: #F7F4EB;
        }
    </style>
</head>
<body>



    <div class="container-fluid">
        <h2 class="text-center black-text text-info">Create New Contract</h2>
        <h2> Contract Basic Information </h2>

      
       
        <form method="post" asp-action="CreateContract">
            <!-- Form elements go here -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ContractedParty"> Contracted Party: </label>
                    <input asp-for="ContractedParty" type="text" class="form-control" id="Name" placeholder="Enter the Name">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ContractType">Contract Type: </label>
                    <input asp-for="ContractType" type="text" class="form-control" id="Name" placeholder="Enter the Name">
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="ContractValue">Contract Value:</label>
                    <input asp-for="ContractValue" type="text" class="form-control" id="Na" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PaymentStructure">Payment Structure:</label>
                    <input asp-for="PaymentStructure" type="text" class="form-control" id="Na" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="StartDate">Start Date:</label>
                    <input asp-for="StartDate" class="form-control" id="startDate" name="startDate" placeholder="Select start date" autocomplete="on">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate">End Date:</label>
                    <input asp-for="EndDate" class="form-control" id="EndDate" name="EndDate" placeholder="Select End date" autocomplete="on">
                </div>

            </div>

            <h2> Contract File </h2>
            <!--<div class="form-group">
                <label for="ContractFile">Contract Text:</label>
                <textarea for="ContractFile" class="form-control scrollbar" id="contractText" rows="12"  placeholder="View contracts here" readonly></textarea>
            </div>-->

            <div class="form-group">
                <label asp-for="ContractFile">Upload Contract:</label>
                <input asp-for="ContractFile" type="file" class="form-control-file" id="ContractFile" name="ContractFile" />
                <small class="form-text text-muted">Select a file to upload.</small>
            </div>


            <button type="submit" class="btn btn-secondary">Save as Template</button>

            <button type="submit" class="btn btn-primary">Save</button>


        </form>

    </div>



</body>
</html>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>

    }

}